body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-size: 2.5rem;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-bottom: 4px solid #e61212;
}

.headpag {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: center;
}

button {
    background-color: #e61212;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover {
    background-color: #e216165d;
}

a {
    color: #fff;
    text-decoration: none;
}


.paginaPrincipal {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.imagenGarage {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

h2, h3 {
    color: #e61212;
}

ul, ol {
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}


.s2000, .rs3, .c200, .lfa {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.s2000img, .c200img, .lfaimg, .RS3img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.autoS2000, .autoRS3, .autoC200, .autoLfa {
    font-size: 2rem;
    color: #e61212;
    text-align: center;
    margin-bottom: 20px;
}

.prestacionesS2000, .prestacionesRs3, .prestacionesC200, .prestacionesLfa {
    font-size: 1.1rem;
    line-height: 1.6;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 4px solid #e61212;
    margin-top: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer a {
    color: #e61212;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


.navbar {
    background-color: #333 !important;
    border-bottom: 4px solid #ff5722;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #ff5722 !important;
}

.nav-link {
    color: #fff !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ff5722 !important;
}

.navbar-toggler {
    border-color: #ff5722;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 87, 34, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}